---
apiVersion: v1
kind: Service
metadata: 
  name: actors
  labels:
    app: actors
    service: actors
spec:
  ports:
  - port: 8082
    name: http
  selector:
    app: actors

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: actors
  labels:
    app: actors
    version: v1
spec:
  replicas: 1
  selector:
    matchLabels:
      app: actors
      version: v1
  template:
    metadata:
      labels:
        app: actors
        version: v1
    spec:
      containers:
      - name: actors
        image: codesparks/examples-moviesuggestion-actors:1.0
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8082
        livenessProbe:
          initialDelaySeconds: 60
          httpGet:
            path: /actuator/health
            port: 8082
        readinessProbe:
          httpGet:
            path: /actors/ready
            port: 8082

---
apiVersion: v1
kind: Service
metadata: 
  name: movies
  labels:
    app: movies
    service: movies
spec:
  ports:
  - port: 8081
    name: http
  selector:
    app: movies

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: movies-v1
  labels:
    app: movies
    version: v1
spec:
  replicas: 1
  selector:
    matchLabels:
      app: movies
      version: v1
  template:
    metadata:
      labels:
        app: movies
        version: v1
    spec:
      containers:
      - name: movies
        image: codesparks/examples-moviesuggestion-movies-v1:1.0
        env:
          - name: ACTORS_HOSTNAME
            value: "actors:8082" 
        livenessProbe:
          initialDelaySeconds: 60
          httpGet:
            path: /actuator/health
            port: 8081
        readinessProbe:
          httpGet:
            path: /movies/ready
            port: 8081

        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8081
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: movies-v2
  labels:
    app: movies
    version: v2
spec:
  replicas: 1
  selector:
    matchLabels:
      app: movies
      version: v2
  template:
    metadata:
      labels:
        app: movies
        version: v2
    spec:
      containers:
      - name: movies
        image: codesparks/examples-moviesuggestion-movies-v2:1.0
        env:
          - name: ACTORS_HOSTNAME
            value: "actors:8082" 
        livenessProbe:
          initialDelaySeconds: 60
          httpGet:
            path: /actuator/health
            port: 8081
        readinessProbe:
          httpGet:
            path: /movies/ready
            port: 8081

        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8081
---
apiVersion: v1
kind: Service
metadata: 
  name: moviesuggestion-ui
  labels:
    app: moviesuggestion-ui
    service: moviesuggestion-ui
spec:
  ports:
  - port: 8080
    name: http
  type: NodePort
  selector:
    app: moviesuggestion-ui

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: moviesuggestion-ui
  labels:
    app: moviesuggestion-ui
    version: v1
spec:
  replicas: 1
  selector:
    matchLabels:
      app: moviesuggestion-ui
      version: v1 
  template:
    metadata:
      labels:
        app: moviesuggestion-ui
        version: v1
    spec:
      containers:
      - name: moviesuggestion-ui
        image: codesparks/examples-moviesuggestion-ui:1.0
        env:
          - name: MOVIES_HOSTNAME
            value: "movies:8081"
        livenessProbe:
          initialDelaySeconds: 60
          httpGet:
            path: /actuator/health
            port: 8080
        readinessProbe:
          httpGet:
            path: /ready
            port: 8080
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8080
